* {
   box-sizing: border-box;
}
.dropdown {
   position: relative;
   display: inline-block;
   margin: 16px;
}
.dropdown:hover .menu-list {
   display: block;
}
.menu-button {
   display: block;
   padding: 16px;
   background-color: darkgreen;
   opacity: 0.8;
   color: white;
   font-size: 16px;
   cursor: pointer;
}
.menu-button:hover {
   opacity: 1;
}
.menu-list {
   position: absolute;
   display: none;
   padding: 0;
   margin: 0;
   background-color: lightcyan;
   color: black;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   min-width: 120px;
   z-index: 1;
}
.menu-list:hover {
   background-color: ghostwhite;
}
.menu-item {
   padding: 16px;
   list-style-type: none;
}