.header {
   background-color: $color-grey;
}
.header__navigation {
}
.nav-list {
   display: flex;
   align-items: center;
   height: $unit * 7;
   margin: 0;
   list-style: none;
   padding: 0;
}
.nav-list__item {
   border-radius: $border-radius;
   color: $color-secondary;
   padding: $unit;
   margin-left: $unit;
   font-weight: 700;
   cursor: pointer;
   background-color: $color-secondary;
   color: $text-color-secondary;
   &:hover {
      opacity: 0.7;
   }
}
.nav-list__item_selected {
   background-color: $color-primary;
}