body {
   display: flex;
}
.block {
   height: 300px;
   flex: 1 0 auto;
}
.block_red {
   background-color: red;
}
.block_green {
   background-color: green;
}
.block_blue {
   background-color: blue;
}
.block_yellow {
   background-color: yellow;
}
.block_black {
   background-color: black;
}
