@import "_common.scss";
@import "_header.scss";
@import "_headline.scss";
@import "_about.scss";
@import "_customers.scss";
@import "_features.scss";
@import "_footer.scss";

* {
    box-sizing: border-box;
}
html {
    font-family: "Work Sans", sans-serif;
    color: #2b292d;
}
.page {
    width: 100%;
    overflow-x: hidden;
    @media screen and(min-width: 400px) {
        width: 1400px;
        margin: auto;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
}
