body {
   font-family: Verdana;
}
h1 {
   font-size: 74px;
   width: 50%;
   text-align: center;
   margin: auto;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}
div {
   height: 200px;
   background-color: coral;
   color: white;
   text-transform: uppercase;
   text-align: center;
   line-height: 200px;
}
