@import 'breakpoints.scss';

* {
   box-sizing: border-box;
}
.container {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   @include for-portrait {
      flex-direction: column;
   }
}
.square {
   width: 100px;
   height: 100px;
   margin: 8px;
   background-color: #ff7f50;
   @include for-small-medium {
      background-color: #8a2be2;
   }
   @include for-medium {
      background-color: #a61;
   }
   @include for-large {
      background-color: #c47;
   }
}