* {
   box-sizing: border-box;
}
header {
   display: flex;
   align-items: center;
   justify-content: center;
}
.articles-list {
   display: flex;
   flex-wrap: wrap;
}
.article {
   flex-basis: 300px;
   flex-shrink: 0;
   flex-grow: 1;
   margin: 8px;
   padding: 16px;
   background-color: bisque;
}
