* {
   box-sizing: border-box;
}

header {
	text-align: center;
}

.articles-list {
   display: flex;
   flex-wrap: wrap;
}

.article {
	flex: 1;
   margin: 8px;
   padding: 16px;
   background-color: bisque;
   flex-basis: 300px;
   flex-shrink: 0;
   flex-grow: 1;
}

