.row {
   display: flex;
}
.column {
   display: flex;
   flex: 1;
   flex-direction: column;
   align-items: center;
}

.large-bird {
   width: 320px;
   height: 320px;
}
.small-bird {
   width: 64px;
   height: 64px;
}