.text {
   position: relative;
   display: inline-block;
   margin: 16px;
   border-bottom: 1px dotted black;
}
.text:hover .tooltip {
   display: block;
}
.tooltip {
   display: none;
   position: absolute;
   bottom: -40px;
   background-color: grey;
   color: white;
   border-radius: 4px;
   padding: 8px;
}