* {
   box-sizing: border-box;
}
table {
   width: 500px;
   margin: 16px;
}
table,
td,
th {
   border: 1px solid #000;
   border-collapse: collapse;
}

th,
td {
   padding: 4px;
   text-align: right;
}
