* {
   box-sizing: border-box;
}
.content {
   display: flex;
   height: 100vh;
}
.gallery {
   display: flex;
   width: 80%;
   background-color: #fa5;
}
.image {
   margin: auto;
   max-width: 100%;
   box-shadow: 0 3px 5px 0 rgba(0,0,0,0.75);
}
.ideas {
   display: flex;
   width: 20%;
   background-color: #5af;
}
.idea {
   margin: auto;
   color: white;
   font-weight: 700;
   text-transform: uppercase;
   padding: 4px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}