.checkbox {
   position: relative;
   display: inline-block;
   padding: 35px;
   font-size: 24px;
   margin: 16px;
}
input[type="checkbox"] {
   visibility: hidden;
   width: 0;
   height: 0;
}
.checkmark {
   display: inline-block;
   width: 25px;
   height: 25px;
   background-color: #d3d3d3;
   position: absolute;
   top: 35px;
   left: 0;
}
.checkbox input:checked + .checkmark {
   background-color: #006400;
}