a:link {
   background-color: black;
   color: white;
}
a:visited {
   background-color: orange;
   color: green;
}
a:active,
button:active {
   border: 3px solid grey;
}
a:hover {
   font-size: 24px;
}
button:disabled {
    border: 2px dashed grey;
}
button:enabled:hover {
    background-color: grey;
    color: white;
}
input:focus {
    background-color: orange;
}
input:checked {
    margin-left: 20px;
}